body {
    margin: 0;
    font-size: 110px;
    text-align: center;
}

.card {
    width: 1200px;
    margin: 50px auto;
    padding: 100px;
    background-color:#d5a2f0;
    border-radius: 100px;
}

.card-title  {
    font-size: 100px;
    text-align: center;
    color: #fafafa;
}

.card-text {
    font-size: 75px;
}

.card-subtitle {
    font-size: 75px;
}
